
:root { /* Возвращает корневой элемент - html*/
  min-height: 2249px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/***************************** СЕТКИ СТРАНИЦ *****************************/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .logo {
  float: left;
  width: 220px;
  height: 42px;
  margin-right: 10px;
}

.search {
  float: left;
  width: 250px;
  height: 42px;
  margin-right: 10px;
}

.user-block {
  float: right;
}

.bookmarks,
.cart,
.order {
  float: left;
  width: 150px;
  height: 42px;
}

.header-bottom {
  padding-top: 46px;
  padding-bottom: 60px;
}

.header-bottom-wrapper {
  min-height: 72px;
}

.shop-description,
.header-contacts {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.user-block {
  float: right;
  width: 300px;
}

.main-menu {
  height: 56px;
  margin-top: 40px;
}

/********* ГЛАВНАЯ *********/

.promo-block {
  margin-top: 59px;
}

.promo {
  float: left;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo:last-child {
  margin-bottom: 0;
}

.promo-materials,
.promo-tools {
    margin-right: 20px;
}

.slider-promo {
  position: relative;
  float: left;
  width: 620px;
  height: 265px;
  margin-right: 20px;
}

/* Временная конструкция для лучшего визуального восприятия сетки */
.slider-promo input[type="radio"],
.slider-promo .slider-arrows,
.slider-promo .slider-controls,
.slider-promo .slide-promo,
.slider-promo .slider-text {
  position: absolute;
}
/* Временная конструкция для лучшего визуального восприятия сетки */

.popular-products {
  margin-top: 53px;
}

.popular-products .title-block,
.brands .title-block {
  min-height: 89px;
}

.popular-products .section-title,
.brands .section-title {
  float: left;
}

.popular-products .btn-catalog-popular,
.brands .btn-catalog-brands {
  float: right;
}

.products-list,
.brands-list {
  margin-top: 20px;
}

.brands {
  margin-top: 21px;
}

.products-list .products-item {
  float:left;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
}

.products-list .products-item:last-child {
  margin-right: 0;
}

.brands-list .brands-item {
  float: left;
  width: 220px;
  height: 145px;
  margin-right: 20px;
}

.brands-list .brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-list .brands-item:nth-child(-n+4) {
  margin-bottom: 20px;
}

.services {
  margin-top: 85px;
  padding-top: 68px;
  padding-bottom: 102px;
}

.slider-services {
  position: relative;
  height: 180px;
  margin-top: 72px;
}

.slider-menu {
  float: left;
  width: 240px;
}

.slider-menu label {
  display: block;
  height: 60px;
}

/* Временная конструкция для лучшего визуального восприятия сетки */
.slider-services input[type="radio"],
.slider-services .slide-services {
  position: absolute;
}
/* Временная конструкция для лучшего визуального восприятия сетки */

.slider-inner-services {
  float: right;
  width: 620px;
}

.info {
  margin-top: 82px;
  margin-bottom: 86px;
}

.info-left {
  float: left;
  width: 540px;
  min-height: 368px;
}

.info-right {
  float: right;
  width: 300px;
  min-height: 368px;
}

/********* КАТАЛОГ *********/

.breadcrumbs {
  min-height: 59px;
}

.page-title {
  min-height: 89px;
  margin-top: 0;
}

.catalog {
    margin-top: 20px;
}

.catalog-filters {
  float: left;
  width: 220px;
}

.price-block-title {
  margin-top: 16px;
  min-height: 16px;
}

.range-filter {
  margin-top: 23px;
  min-height: 127px;
}

.filter-block-separator:first-of-type {
  margin-top: 25px;
}

.filter-block-separator:first-of-type + .filter-block {
  margin-top: 21px;
  min-height: 221px;
}

.filter-block-separator:last-of-type {
  margin-top: 21px;
}

.filter-block-separator:last-of-type + .filter-block {
  margin-top: 22px;
  min-height: 112px;
}

.btn-filter {
  margin-top: 65px;
  width: 140px;
  height: 36px;
}

.products {
  float: right;
  width: 700px;
}

.products-sorting {
  margin-bottom: 20px;
}

.sorting-title {
  float: left;
  width: 140px;
  min-height: 38px;
}

.sorting-options {
  float: right;
  width: 460px;
  min-height: 38px;
}

/****** ПОКА СКРОЕМ ДЕЙСТВИЯ *****/
.actions {
  display: none;
}
/****** ПОКА СКРОЕМ ДЕЙСТВИЯ *****/

.products .products-item {
    float: left;
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.products .products-item:nth-of-type(3n) {
    margin-right: 0;
}

.catalog-panigator {
  float: left;
  width: 700px;
  min-height: 36px;
  margin-top: 52px;
}

.products-about {
  margin-top: 60px;
  padding-top: 68px;
  padding-bottom: 39px;
}


.footer-top-left {
  float: left;
  width: 340px;
  min-height: 193px;
}

.footer-top-right {
  float: right;
  width: 550px;
  min-height: 193px;
}

.footer-copyright {
  float: left;
  width: 230px;
  min-height: 108px;
  margin-right: 160px;
}

.footer-socials {
  float: left;
  width: 170px;
  min-height: 108px;
  margin-right: 80px;
}

.footer-feedback {
  float: left;
  width: 140px;
  min-height: 108px;
}

.footer-developers {
  float: right;
  width: 140px;
  min-height: 108px;
}

/***************************** СЕТКИ СТРАНИЦ *****************************/

/*********** ВСПОМОГАТЕЛЬНЫЕ СТИЛИ ДЛЯ ПОДСВЕТКИ БЛОКОВ **********/
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > * > * {
  background: rgba(12, 84, 200, 0.2);
  box-shadow: inset 0 0 0 2px rgb(12, 84, 200);

}

body > * > * > * > * > * {
  background: rgba(116, 123, 32, 0.2);
  box-shadow: inset 0 0 0 2px rgb(116, 123, 32);

}


/*********** ВСПОМОГАТЕЛЬНЫЕ СТИЛИ ДЛЯ ПОДСВЕТКИ БЛОКОВ **********/

/***************************** ЗАГОЛОВКИ *****************************/

.slider-promo .slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.section-title,
.page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.products-item .title {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.services-title,
.info-title,
.about-title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.info-left .info-title {
  line-height: normal;
}

.slider-services .slide-title {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.filters-title,
.sorting-title {
  font-family: "PT Sans", "Arial", "Helvetica" sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

}

.price-block-title,
.filter-block-title {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

/***************************** ЗАГОЛОВКИ *****************************/
