body {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.slider-promo .slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.title-block h2,
.page-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.products-item .title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.services-title h2,
.info-right h2,
.about-title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.slider-services .slide-title {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.info-left h1 {
  font-size: 30px;
  line-height: normal;
  text-transform: uppercase;
}

.filters-title,
.sorting-title {
  font-family: "PT Sans", "Arial", "Helvetica" sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

}

.catalog-filters h2 {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
